**/.python-version/
**/.vscode/
/models/*
/build
/data/datasets/*
/data/predictions/*
/data/videos/*
/data/images/*
/keras-retinanet/build/
*.pyc
**/__pycache__/
**/.ipynb_checkpoints/
*.mov
*.mp4
*.zip
*.srt
*.pt
*.h5
*.so
**/wandb/
*.simg
~$*
**/.DS_Store
*.egg-info
airutils/build/
!/**/.gitkeep
