scipy==1.2.1
numpy==1.16.2
matplotlib==3.0.3
opencv-python==4.1.0.25
opencv-contrib-python==4.2.0.32
scikit-learn==0.22
filterpy==1.4.5
Pillow==6.2.1
tensorflow==1.15.0
keras==2.3.1
keras-resnet==0.2.0
wandb==0.9.5
cython
h5py
progressbar2
